/*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•
netizen monokai highlighting theme
•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*/
:root {
  --netizen-text: #F0EFF1;
  --netizen-background: #282828;
  /* CODE SYNTAX COLORS */
  --netizen-comment: #7E7E7F;
  --netizen-tag-bracket: #FC7575;
  --netizen-property: #66D9CF;
  --netizen-atom: #7272D6;
  --netizen-def: #82E22E;
  --netizen-variable-3: #F0EFF1;
  --netizen-meta: #F0EFF1;
  --netizen-variable: #F0EFF1;
  --netizen-variable-callee: #F0EFF1;
  --netizen-variable-2: #F0EFF1;
  --netizen-string: #E6DB6F;
  --netizen-string-2: #66D9CF;
  --netizen-number: #7272D6;
  --netizen-operator: #FC7575;
  --netizen-tag: #FC7575;
  --netizen-attribute: #82E22E;
  --netizen-qualifier: #82E22E;
  --netizen-builtin: #82E22E;
  --netizen-keyword: #66D9CF;
  /* MISC EDITOR COLORS */
  --netizen-line-numbers: #7E7E7F;
  --netizen-active-line-bg: #3A3A3A;
  --netizen-selected: #474747;
  /* MATCHING TAG/BRACKET INDICATORS */
  --netizen-match-color: #F0EFF1;
  --netizen-match-border: #82E22E;
  /* AUTOCOMPLETE/HINT MENU SELECTED ITEM */
  --netizen-hint-color: #282828;
  --netizen-hint-bg: #E6DB6F;
  --netizen-hint-shadow: #e6db6fbf;
}
/* Netizen Orange: #E96926 */
