:root {
  --netizen-text: #e7e5c9;
  --netizen-background: #1c1c36;
    /* CODE SYNTAX COLORS */
  --netizen-comment: #515199;
  --netizen-tag-bracket: #c3c3db;
  --netizen-property: #c3c3db;
  --netizen-atom: #c3c3db;
  --netizen-def: #c3c3db;
  --netizen-variable-3: #c3c3db;
  --netizen-meta: #c3c3db;
  --netizen-variable: #d5805e;
  --netizen-variable-callee: #82ccd7;
  --netizen-variable-2: #82ccd7;
  --netizen-string: #82ccd7;
  --netizen-string-2: #82ccd7;
  --netizen-number: #E6DB6F;
  --netizen-operator: #c76ebc;
  --netizen-tag: #c76ebc;
  --netizen-attribute: #81c994;
  --netizen-qualifier: #81c994;
  --netizen-builtin: #81c994;
  --netizen-keyword: #81c994;
    /* MISC EDITOR COLORS */
  --netizen-line-numbers: #9885a6;
  --netizen-active-line-bg: #c3c3db;
  --netizen-selected: #c8c8fa19;
    /* MATCHING TAG/BRACKET INDICATORS */
  --netizen-match-color: #e7e5c9;
  --netizen-match-border: #515199;
    /* AUTOCOMPLETE/HINT MENU SELECTED ITEM */
  --netizen-hint-color: #1c1c36;
  --netizen-hint-bg: #dacb8e;
  --netizen-hint-shadow: #515199BF;
}

.cm-s-netizen {
  font-size: 1em;
  line-height: 1.5em;
  font-family: inconsolata, monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: var(--netizen-background);
  color: var(--netizen-text);
  height: 100%;
}

.cm-s-netizen .CodeMirror-lines { padding: 8px 0; }

.cm-s-netizen .CodeMirror-gutters {
  background-color: var(--netizen-background);
  color: var(--netizen-text);
  padding-right: 10px;
  z-index: 3;
  border: none;
  margin-right:5px;
}

.cm-s-netizen .CodeMirror-linenumber { color: var(--netizen-line-numbers); }

.cm-s-netizen div.CodeMirror-cursor {
  width: 1px;
  border-left: 2px solid var(--netizen-text);
}

.cm-s-netizen .CodeMirror-activeline-background { background: var(--netizen-active-line-bg); }
.cm-s-netizen .CodeMirror-selected { background: var(--netizen-selected); }
.cm-s-netizen .cm-comment { color: var(--netizen-comment); }
.cm-s-netizen .cm-tag.cm-bracket { color: var(--netizen-tag-bracket); }
.cm-s-netizen .cm-property { color: var(--netizen-property); }
.cm-s-netizen .cm-atom { color: var(--netizen-atom); }
.cm-s-netizen .cm-def { font-style: normal; color: var(--netizen-def); }
.cm-s-netizen .cm-variable-3 { color: var(--netizen-variable-3); }
.cm-s-netizen .cm-meta { color: var(--netizen-meta); }
.cm-s-netizen .cm-variable { color: var(--netizen-variable); }
.cm-s-netizen .cm-variable.cm-callee { color: var(--netizen-variable-callee); }
.cm-s-netizen .cm-variable-2 { color: var(--netizen-variable-2); }
.cm-s-netizen .cm-string { color: var(--netizen-string); }
.cm-s-netizen .cm-string-2 { color: var(--netizen-string-2); }
.cm-s-netizen .cm-number { color: var(--netizen-number); }
.cm-s-netizen .cm-operator { color: var(--netizen-operator); }
.cm-s-netizen .cm-tag { color: var(--netizen-tag); }
.cm-s-netizen .cm-attribute { color: var(--netizen-attribute); }
.cm-s-netizen .cm-qualifier { color: var(--netizen-qualifier); }
.cm-s-netizen .cm-builtin { color: var(--netizen-builtin); }
.cm-s-netizen .cm-keyword { color: var(--netizen-keyword); }

/* THE LITTLE UNDERLINE THAT APPEARS WHEN A TAG OR BRACKET IS SELECTED */
.cm-s-netizen .CodeMirror-matchingbracket {
  /* color: var(--netizen-match-color) !important; */
}
.cm-s-netizen .CodeMirror-matchingbracket, .CodeMirror-matchingtag {
  padding-bottom: 3px;
  /* color: var(--netizen-match-color) !important; */
  border-bottom: 2px solid var(--netizen-match-border);
  background: none;
}

/* HINTING STYLES: AUTO-COMPLETE DROPDOWN LIST */
.CodeMirror-hints.netizen {
  color: var(--netizen-text);
  background: var(--netizen-hint-color);
  padding: 8px 11px;
  font-size: 14px;
  border-radius: 8px;
  border: 3px solid var(--netizen-text);
  box-shadow: -9px 10px 25px -17px var(--netizen-hint-shadow);
}

.CodeMirror-hints.netizen > .CodeMirror-hint {
  /* individual items */
  color: var(--netizen-text);
  margin: 2px 0;
  padding: 3px 4px 4px;
}

.CodeMirror-hints.netizen > .CodeMirror-hint.CodeMirror-hint-active {
  /* selected item */
  color: var(--netizen-hint-color);
  background: var(--netizen-hint-bg);
}
