/*
  netizen syntax highlighting theme
*/

:root {
  --test: 100px;
  --netizen-green: #82E22E;
  --netizen-blue: #66D9CF;
  --netizen-yellow: #E6DB6F;
  --netizen-purple: #7272D6;
  --netizen-orange: #E96926;
  --netizen-red: #FC7575;
  --netizen-black: #282828;
  --netizen-white: #F0EFF1;
  --netizen-gray: #7E7E7F;
}

.cm-s-netizen {
  font-size: 1em;
  line-height: 1.5em;
  font-family: inconsolata, monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: var(--netizen-black);
  color: var(--netizen-white);
  height: 100%;
}

.cm-s-netizen .CodeMirror-lines {
  padding: 8px 0;
}

.cm-s-netizen .CodeMirror-gutters {
  background-color: var(--netizen-black);
  padding-right: 10px;
  z-index: 3;
  border: none;
  margin-right:5px;
}

.cm-s-netizen div.CodeMirror-cursor {
  border-left: 1px solid var(--netizen-white);
}

.cm-s-netizen .CodeMirror-activeline-background { background: #3A3A3A; }
.cm-s-netizen .CodeMirror-selected { background: #474747; }
.cm-s-netizen .cm-comment { color: var(--netizen-gray);  }
.cm-s-netizen .CodeMirror-linenumber { color: var(--netizen-gray); }
.cm-s-netizen .cm-string { color: var(--netizen-yellow); }
.cm-s-netizen .cm-number { color: var(--netizen-purple); }
.cm-s-netizen .cm-atom { color: var(--netizen-purple); }
.cm-s-netizen .cm-property { color: var(--netizen-blue); }
.cm-s-netizen .cm-string-2 { color: var(--netizen-blue); }
.cm-s-netizen .cm-keyword { color: var(--netizen-blue); }
.cm-s-netizen .cm-variable { color: var(--netizen-white); }
.cm-s-netizen .cm-variable-2 { color: var(--netizen-white); }
.cm-s-netizen .cm-variable-3 { color: var(--netizen-white); }
.cm-s-netizen .cm-meta { color: var(--netizen-white); }
.cm-s-netizen .cm-operator { color: var(--netizen-red); }
.cm-s-netizen .cm-tag { color: var(--netizen-red); }
.cm-s-netizen .cm-attribute {color: var(--netizen-green);}
.cm-s-netizen .cm-qualifier {color: var(--netizen-green);}
.cm-s-netizen .cm-builtin {color: var(--netizen-green);}
.cm-s-netizen .cm-def { font-style: normal; color:var(--netizen-green); }

/* THE LITTLE UNDERLINE THAT APPEARS WHEN A TAG OR BRACKET IS SELECTED */
.cm-s-netizen .CodeMirror-matchingbracket {
  color: var(--netizen-white) !important;
}
.cm-s-netizen .CodeMirror-matchingbracket, .CodeMirror-matchingtag {
  padding-bottom: 3px;
  border-bottom: 2px solid var(--netizen-green);
  background: none;
}

/* HINTING STYLES: AUTO-COMPLETE DROPDOWN LIST */
.CodeMirror-hints.netizen {
  color: var(--netizen-black);
  background: var(--netizen-white);
  padding: 11px;
  border-radius: 8px;
  border: 3px solid var(--netizen-red);
  box-shadow: -9px 10px 25px -17px rgba(230,219,111,0.75);
}

.CodeMirror-hints.netizen > .CodeMirror-hint {
  /* individual items */
}

.CodeMirror-hints.netizen > .CodeMirror-hint.CodeMirror-hint-active {
  /* selected item */
  color: var(--netizen-black);
  background: var(--netizen-yellow);
}



/*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•
light syntax highlighting theme
•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*/

:root {
  /*--light-green: #afd785;
  --light-blue: #9ed3ce;
  --light-yellow: #eeebcf;
  --light-purple: #8f92ce;
  --light-orange: #d99a7b;
  --light-red: #e0a7a5;
  --light-light-purple: #c6b5e3;
  --bg-purple: #d4c9e7;

  --dark-purple: #545acd;
  --dark-yellow: #d9ca51;*/

  --light-green: #72d6ad;
  --light-blue: #26a6e9;
  --light-yellow: #dfd29b;
  --light-purple: #aa90fe;
  --light-red: #E07E7E;
  --light-orange: #ef9f9f;

  --light-bracket: #aa9595;
  --light-comment: #d3c8c8;
  --light-gray: #7E7E7F;
}

.cm-s-light {
  font-size: 1em;
  line-height: 1.5em;
  font-family: inconsolata, monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: #fff;
  color: var(--light-bracket);
  height: 100%;
}

.cm-s-light .CodeMirror-lines {
  padding: 8px 0;
}

.cm-s-light .CodeMirror-gutters {
  background-color: #fff;
  color: var(--light-bracket);
  padding-right: 10px;
  z-index: 3;
  border: none;
  margin-right:5px;
}

.cm-s-light div.CodeMirror-cursor {
  width: 1px;
  border-left: 2px solid var(--light-bracket);
}

.cm-s-light .CodeMirror-activeline-background { 
  background: var(--light-gray);
}
.cm-s-light .CodeMirror-selected {
  /*background: rgba(230,230,230,0.85);*/
  background: rgba(49, 49, 50, 0.1);
}
.cm-s-light .cm-comment {
  color: var(--light-comment);
}
.cm-s-light .CodeMirror-linenumber {
  color: var(--light-bracket);
}
.cm-s-light .cm-tag.cm-bracket {
  color: var(--light-bracket);
}
.cm-s-light .cm-property {
  color: var(--light-gray);
}
.cm-s-light .cm-atom {
  color: var(--light-gray);
}
.cm-s-light .cm-def {
  font-style: normal; 
  color: var(--light-gray);
}
.cm-s-light .cm-variable-3 {
  color: var(--light-gray);
}
.cm-s-light .cm-meta {
  color: var(--light-gray);
}

/* all green */
.cm-s-light .cm-variable {
  color: var(--light-green);
}

/* all blue */
.cm-s-light .cm-variable.cm-callee {
  color: var(--netizen-blue);
}
.cm-s-light .cm-variable-2 {
  color: var(--netizen-blue);
}
.cm-s-light .cm-string {
  color: var(--netizen-blue);
}
.cm-s-light .cm-string-2 {
  color: var(--netizen-blue);
}

/* all yellow */
.cm-s-light .cm-number {
  color: var(--light-yellow);
}

/* all orange */
.cm-s-light .cm-operator {
  color: var(--light-orange);
}
.cm-s-light .cm-tag {
  color: var(--light-orange);
}

/* all purple */
.cm-s-light .cm-attribute {
  color: var(--light-purple);
}
.cm-s-light .cm-qualifier {
  color: var(--light-purple);
}
.cm-s-light .cm-builtin {
  color: var(--light-purple);
}
.cm-s-light .cm-keyword {
  color: var(--light-purple);
}

/* THE LITTLE UNDERLINE THAT APPEARS WHEN A TAG OR BRACKET IS SELECTED */
.cm-s-light .CodeMirror-matchingbracket {
  color: var(--light-bracket) !important;
}
.cm-s-light .CodeMirror-matchingbracket, .CodeMirror-matchingtag {
  padding-bottom: 3px;
  color: var(--light-bracket);
  border-bottom: 2px solid var(--light-comment) !important;
}

/* HINTING STYLES: AUTO-COMPLETE DROPDOWN LIST */
.CodeMirror-hints.light {
  color: var(--netizen-black);
  background: var(--netizen-white);
  padding: 11px;
  border-radius: 8px;
  border: 3px solid var(--netizen-red);
  box-shadow: -9px 10px 25px -17px rgba(230,219,111,0.75);
}

.CodeMirror-hints.light > .CodeMirror-hint {
  /* individual items */
}

.CodeMirror-hints.light > .CodeMirror-hint.CodeMirror-hint-active {
  /* selected item */
  color: var(--netizen-black);
  background: var(--netizen-yellow);
}


/*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•
dark syntax highlighting theme
•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*/

.cm-s-dark {
  font-size: 1em;
  line-height: 1.5em;
  font-family: inconsolata, monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: #423c7c;
  color: var(--netizen-white);
  height: 100%;
}

.cm-s-dark .CodeMirror-lines {
  padding: 8px 0;
}

.cm-s-dark .CodeMirror-gutters {
  background: #423c7c;
  padding-right: 10px;
  z-index: 3;
  border: none;
  margin-right:5px;
}

.cm-s-dark div.CodeMirror-cursor {
  width: 1px;
  border-left: 2px solid var(--netizen-white);
}

.cm-s-dark .CodeMirror-activeline-background { background: #3A3A3A; }
.cm-s-dark .CodeMirror-selected { background: #474747; }
.cm-s-dark .cm-comment { color: var(--netizen-gray);  }
.cm-s-dark .CodeMirror-linenumber { color: var(--netizen-gray); }
.cm-s-dark .cm-string { color: var(--netizen-yellow); }
.cm-s-dark .cm-number { color: var(--netizen-purple); }
.cm-s-dark .cm-atom { color: var(--netizen-purple); }
.cm-s-dark .cm-property { color: var(--netizen-blue); }
.cm-s-dark .cm-string-2 { color: var(--netizen-blue); }
.cm-s-dark .cm-keyword { color: var(--netizen-blue); }
.cm-s-dark .cm-variable { color: var(--netizen-white); }
.cm-s-dark .cm-variable-2 { color: var(--netizen-white); }
.cm-s-dark .cm-variable-3 { color: var(--netizen-white); }
.cm-s-dark .cm-meta { color: var(--dark-purple); }
.cm-s-dark .cm-operator { color: var(--netizen-red); }
.cm-s-dark .cm-tag { color: var(--netizen-red); }
.cm-s-dark .cm-attribute {color: var(--netizen-green);}
.cm-s-dark .cm-qualifier {color: var(--netizen-green);}
.cm-s-dark .cm-builtin {color: var(--netizen-green);}
.cm-s-dark .cm-def { font-style: normal; color:var(--netizen-green); }

/* THE LITTLE UNDERLINE THAT APPEARS WHEN A TAG OR BRACKET IS SELECTED */
.cm-s-dark .CodeMirror-matchingbracket {
  color: var(--netizen-white) !important;
}
.cm-s-dark .CodeMirror-matchingbracket, .CodeMirror-matchingtag {
  padding-bottom: 3px;
  border-bottom: 2px solid var(--netizen-green);
  background: none;
}

/* HINTING STYLES: AUTO-COMPLETE DROPDOWN LIST */
.CodeMirror-hints.dark {
  color: var(--netizen-black);
  background: var(--netizen-white);
  padding: 11px;
  border-radius: 8px;
  border: 3px solid var(--netizen-red);
  box-shadow: -9px 10px 25px -17px rgba(230,219,111,0.75);
}

.CodeMirror-hints.dark > .CodeMirror-hint {
  /* individual items */
}

.CodeMirror-hints.dark > .CodeMirror-hint.CodeMirror-hint-active {
  /* selected item */
  color: var(--netizen-black);
  background: var(--netizen-yellow);
}
